/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    font-family: var(--system-ui);
}

/* SPECIFICS */
:root {
    --page__background: #F7F3EA;
    --text--main: #292824;
    --text--secondary: #6F6A61;
    --accent--main: #667052;
    --accent--stronger: #4D563E;
    --accent--secondary: #B9684C;
    --borders: #DED6C8;
    --spacing--extra-large: 40px;
    --spacing--large: 32px;
    --spacing--medium: 28px;
    --spacing--small: 20px;
    --spacing--extra-small: 10px;
}

body {
    background: var(--page__background);
    color: var(--text--main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
#content {
    width: min(850px, 100vw);
    padding: var(--spacing--small);
}

nav {
    display: flex;
    justify-content: stretch;
    gap: var(--spacing--extra-large);
    padding-bottom: var(--spacing--small);
    border-bottom: 1px solid var(--borders);
}

@media screen and (width <=500px) {
    nav {
        gap: 13px;
    }
}

nav button {
    background-color: var(--page__background);
    color: var(--text--main);
    border: 1px solid var(--borders);
    border-radius: 10px;
    padding: var(--spacing--extra-small);
    flex-grow: 1;
}

nav button:hover {
    background-color: var(--accent--main);
    color: var(--page__background);
    cursor: pointer;
}

nav button.active {
    background-color: var(--accent--stronger);
    color: var(--page__background);
}

h1 {
    color: var(--accent--main);
    font-size: 44px;
    font-weight: 800;
    margin-top: var(--spacing--extra-small);
}

@media screen and (width <=500px) {
    h1 {
        font-size: 37px;
    }
}

h2 {
    font-size: 27px;
    margin-top: var(--spacing--small);
}

h3 {
    font-size: 21px;
    margin: var(--spacing--large) 0 var(--spacing--extra-small) 0;
}

section {
    margin: var(--spacing--extra-large) 0;
}

.description,
.additional-text,
.intro,
.short-text {
    margin: var(--spacing--small) 0;
    font-size: 18px;
    max-width: 625px;
}

.description {
    margin-top: var(--spacing--medium);
}

img.restaurant-table {
    border-radius: 12px;
    margin: var(--spacing--extra-large) 0;
}

p,
dd {
    font-size: 16px;
}

dd {
    color: var(--text--secondary);
    margin-bottom: var(--spacing--small);
}

dt {
    font-size: 18px;
    font-weight: 600;
}

a {
    color: var(--accent--stronger);
}

a:hover {
    color: var(--accent--main);
}

.address {
    white-space: pre-line;
}