/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    font-family: var(--system-ui);
}

/* SPECIFICS */
:root {
    --page__background: #F7F3EA;
    --text--main: #292824;
    --text--secondary: #6F6A61;
    --accent--main: #667052;
    --accent--stronger: #4D563E;
    --accent--secondary: #B9684C;
    --borders: #DED6C8;
}

body {
    background: var(--page__background);
    color: var(--text--main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 850px
}
nav {
    display: flex;
    justify-content: stretch;
    gap: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--borders);
}

nav button {
    padding: 10px;
    background-color: var(--accent--secondary);
    border: none;
    border-radius: 10px;
    flex-grow: 1;
}

nav button:hover {
    background-color: var(--accent--main);
}

nav button.active {
    background-color: var(--accent--stronger);
}

#content {
    width: 850px;
    flex-shrink: 1;
}

h1 {
    color: var(--accent--main);
    font-size: 44px;
    font-weight: 800;
    margin-top: 40px;
    /* WEITER: CHATGPT STYLE UMSETZEN!!! */
}

h2 {
    font-size: 27px;
    margin-top: 20px;
}

h3 {
    font-size: 21px;
    margin-top: 10px;
}

section {
    margin: 40px 0;
}

.description,
.additional-text {
    margin: 40px 0;
    font-size: 18px;
}

dd {
    font-size: 18px;
    margin-bottom: 20px;
}

p,
dd {
    font-size: 16px;
}